{% extends "layout.html" %}
{% block title %}John Kwening{% endblock %}
{% block content %}
<div class="row row-content">
  <h1>Hello, I'm John.</h1>
  <h3>Python &amp; Data Enginer | Life-long Learner | Cyclist &amp; Soccer Enthusiast</h3>
  <p>A mathematician by training, collaborating with software developers motivated me to expand my knowledge about software engineering and eventually launching into software development.</p>
  <p>I love solving problems and I have found that technology can be a very effective tool in finding solutions.</p>
</div>
<div class="row row-content">
  <a href="/projects">
    <h4 class="text-center">Check out my projects!</h4>
    <img src="../static/img/bike-add-life.jpg" class="img-responsive img-thumbnail center-block" alt="An image of a bike and the following text: &quotI don't ride a bike to add days to my life. I ride a bike to add life to my days!&quot">
  </a>
</div>
{% endblock %}